<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
/*******************************************************************************
 * Copyright (c) 2012, 2013 Pivotal Software, Inc.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     Pivotal Software, Inc. - initial API and implementation
 *******************************************************************************/
-->
<plugin>
   <extension-point id="callback" name="UI Callback" schema="schema/callback.exsd"/>
   <extension-point id="branding" name="Cloud Foundry Service Branding" schema="schema/branding.exsd"/>
   <extension-point id="application" name="Cloud Foundry Supported Application Type" schema="schema/application.exsd"/>
	
   <extension
	       point="org.eclipse.wst.server.core.moduleTypes">
	    <moduleType
	          id="org.cloudfoundry.ide.eclipse.server.core.CloudFoundryApplicationModule"
	          name="Cloud Foundry Module">
	    </moduleType>
	 </extension>
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="org.cloudfoundry.ide.eclipse.internal.server.core.debug.CloudFoundryDebuggingLaunchConfigDelegate"
           id="org.cloudfoundry.ide.eclipse.launchconfig.debug"
           modes="debug"
           name="Cloud Foundry"
           public="false">
     </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.core.sourcePathComputers">
     <sourcePathComputer
           class="org.cloudfoundry.ide.eclipse.internal.server.core.debug.CloudFoundryDebugSourceLocator"
           id="org.cloudfoundry.ide.eclipse.debug.sourcepathcomputer">
     </sourcePathComputer>
  </extension>
  <extension
        point="org.cloudfoundry.ide.eclipse.server.core.application">
     <applicationDelegate
           class="org.cloudfoundry.ide.eclipse.internal.server.core.application.JavaWebApplicationDelegate"
           priority="Low"
           providerID="org.cloudfoundry.ide.eclipse.server.application.javaweb">
        <moduleID
              id="grails.app">
        </moduleID>
        <moduleID
              id="jst.web">
        </moduleID>
     </applicationDelegate>
  </extension>

 </plugin>
