<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
/*******************************************************************************
 * Copyright (c) 2012 VMware, Inc.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     VMware, Inc. - initial API and implementation
 *******************************************************************************/
-->
<plugin>
   <extension-point id="callback" name="UI Callback" schema="schema/callback.exsd"/>
   <extension-point id="branding" name="Cloud Foundry Service Branding" schema="schema/branding.exsd"/>
	
	 <extension
	       point="org.eclipse.wst.server.core.moduleTypes">
	    <moduleType
	          id="org.cloudfoundry.ide.eclipse.server.core.CloudFoundryApplicationModule"
	          name="Cloud Foundry Module">
	    </moduleType>
	 </extension>
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="org.cloudfoundry.ide.eclipse.internal.server.core.debug.CloudFoundryDebuggingLaunchConfigDelegate"
           id="org.cloudfoundry.ide.eclipse.launchconfig.debug"
           modes="debug"
           name="Cloud Foundry"
           public="false">
     </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.core.sourcePathComputers">
     <sourcePathComputer
           class="org.cloudfoundry.ide.eclipse.internal.server.core.debug.CloudFoundryDebugSourceLocator"
           id="org.cloudfoundry.ide.eclipse.debug.sourcepathcomputer">
     </sourcePathComputer>
  </extension>

	    <extension
         point="org.eclipse.wst.server.core.moduleFactories">
      <moduleFactory
            class="org.cloudfoundry.ide.eclipse.internal.server.core.StandAloneModuleFactory"
            id="org.cloudfoundry.ide.eclipse.server.core.StandAloneModuleFactory"
            order="1"
            projects="true">
         <moduleType
               types="cloudfoundry.standalone.app"
               versions="1.0">
         </moduleType>
      </moduleFactory>
   </extension>
	<extension point="org.eclipse.wst.common.project.facet.core.facets">

	  <project-facet id="cloudfoundry.standalone.app"> 
	    <label>Cloud Foundry Standalone Application</label>
	    <description>Standalone application that can be deployed to a Cloud Foundry server.</description>
	  </project-facet>
	
	  <project-facet-version facet="cloudfoundry.standalone.app" version="1.0">
	    <action type="INSTALL">
	      <delegate class="org.cloudfoundry.ide.eclipse.internal.server.core.StandaloneFacetInstallDelegate"/>
	    </action>
	  </project-facet-version>   
   </extension>
	 	 		
 </plugin>
